@using DotMatrix.Core

<div>
    <table>
        <tr>
            <th>Reg</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>AF</td>
            <td>@cpuState?.AF</td>
        </tr>
        <tr>
            <td>BC</td>
            <td>@cpuState?.BC</td>
        </tr>
        <tr>
            <td>DE</td>
            <td>@cpuState?.DE</td>
        </tr>
        <tr>
            <td>HL</td>
            <td>@cpuState?.HL</td>
        </tr>
        <tr>
            <td>SP</td>
            <td>@cpuState?.SP</td>
        </tr>
        <tr>
            <td>PC</td>
            <td>@cpuState?.PC</td>
        </tr>
    </table>
</div>

@code {
    [Parameter]
    public CpuState? cpuState { get; set; }
}
