@using DotMatrix.Core

<div id="instructions">
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Address</th>
            <th scope="col">Value</th>
        </tr>
        </thead>
        <tbody>
        @for (ushort address = 0; address < Rom.Length; address += 2)
        {
            @InstructionRow((address, Rom[address]))
        }
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public required CpuState cpuState { get; set; }

    [Parameter]
    public required byte[] Rom { get; set; }

    private static readonly RenderFragment<(ushort addr, ushort value)> InstructionRow = ctx =>
        @<tr>
            <td>@ctx.addr.ToString("X2")</td>
            <td>@ctx.value.ToString("X2")</td>
        </tr>;
}
